<footer class="my_footer">
    <div class="panel">
        <div class="container-fluid">
            <div class="row">
                <div class="footer-left col-sm-12 col-md-6">
                    <h5 class="footer-title">&copy; ВООВ &#171;Дети Сталинграда&#187;</h5>
                </div>
                <div class="footer-right col-sm-12 col-md-6">
                    <h5 class="footer-tel">Тел.:<a href="tel:+8442384651"> 8 (8442) 38-46-51</a></h5>
                </div>
            </div>
        </div>
    </div>
</footer>