<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="Официальнфй сайт Волгоградской общественной организации Дети Сталинграда">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta NAME="keywords" CONTENT="сталинград, волгоград, дети, общественная, организация, ветеранов, поколения">
  <meta NAME="AUTHOR" CONTENT="Жемчужнов Дмитрий, Погибельная Анастасия">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>