<nav class="nav">
  <ul class="menu">
    <li class="menu_item">
      <a class="menu_link" href="/index.html">Главная</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/news.html">Новости</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/structure.html">Структура организации</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/goals.html">Цели и задачи</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/activity.html">Деятельность</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/work.html">О работе</a>
    </li>
    <li class="menu_item">
      <a class="menu_link" href="/contacts.html">Контакты</a>
    </li>
  </ul>
</nav>
