<!DOCTYPE html>
<html class="no-js" lang="ru">
  {% include head.html %}

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="wrapper">
      {% include header.html %}

      <main>{{ content }}</main>

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
